.botao {
    padding: 10px;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    background-color: #17DCB3;
    color: #212121;
}

.botao:hover {
    cursor: pointer;
    opacity: 0.8;
}