.campo-escolha {
  border-radius: 8px;
  background-color: transparent;
  border: solid 1px #4A4949;
  font-family: 400;
  line-height: 120%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #4A4949 ;
  padding: 10px;
}

.campo-escolha::placeholder {
  color: #4A4949;

}