.campo-entrada-form {
  border-radius: 8px;
  background-color: transparent;
  border: solid 1px #4A4949;
  font-family: 400;
  line-height: 120%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #fff ;
  padding: 10px;

}

.campo-entrada-form::placeholder {
  color: #4A4949;

}

